<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="titulo">Formulário</h2>
      <hr />
    </div>
  </div>
  <div class="estilo">

  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="formControlInput">Nome do Paciente</label>
          <input
           required
           [formControl]="nome"
            type="text"
            name="nome"
            class="form-control"
            id="nome"
            placeholder="Nome Completo"
            [(ngModel)]="paciente.nome"
          />
        </div>
        <div class="form-group">
          <label for="formControlInput">CPF</label>
          <input
          [formControl]="cpf"
            type="text"
            name="cpf"
            class="form-control"
            id="cpf"
            placeholder="Ex: 00000000000"
            [(ngModel)]="paciente.cpf"
          />
        </div>
        <div class="form-group">
          <label for="formControlInput">Idade</label>
          <input
          [formControl]="idade"
            type="number"
            name="idade"
            id="idade"
            placeholder="Idade"
            class="form-control"
            [(ngModel)]="paciente.idade"
          />
        </div>
        <div class="form-group">
          <label for="formControlInput">Sexo</label>
          <select class="formControlInput col"  name="sexo" id="sexo" [(ngModel)]="paciente.sexo">
            <option value="" selected>Selecione...</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="O">Outro</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="cep" class="formControlInput">CEP</label>
          <input
          [formControl]="cep"
            name="cep"
            type="text"
            (blur)="getViaCEP($event)"
            class="form-control"
            placeholder="CEP"
            [(ngModel)]="localizacao.cep"
          />
        </div>
        <!-- Endereço - API -->
        <div *ngIf="showForm | async">
          <div class="form-group mb-3">
            <label for="rua" class="formControlInput">Rua</label>
            <input
              type="text"
              class="form-control"
              name="rua"
              placeholder="Rua"
              [(ngModel)]="localizacao.logradouro"
            />
          </div>
          <div class="form-group mb-3">
            <label for="numero" class="formControlInput">Número</label>
            <input
              type="number"
              class="form-control"
              name="numero"
              placeholder="Número"
              [(ngModel)]="localizacao.numero"
              [formControl]="numero"
            />
          </div>
          <div class="form-group mb-3">
            <label for="bairro" class="formControlInput">Bairro</label>
            <input
            required
              type="text"
              class="form-control"
              name="bairro"
              placeholder="Bairro"
              [(ngModel)]="localizacao.bairro"
              [formControl]="bairro"
            />
          </div>
          <div class="form-group mb-3">
            <label for="cidade" class="formControlInput">Cidade/UF</label>
            <div class="row">
              <input
                type="text"
                class="form-control cidade col-8"
                name="cidade"
                placeholder="Cidade"
                [(ngModel)]="localizacao.localidade"
              />
              <input
                type="text"
                class="form-control uf col-2"
                name="uf"
                placeholder="UF"
                [(ngModel)]="localizacao.uf"
              />
            </div>
          </div>
        </div>
      </form>
  </div>
</div>

  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <button class="btn mr-2"
                routerLink="/">
                Voltar
        </button>
        <button class="btn mr-2"
                (click)="create()"
                [disabled]="!validaCampos()">
                Salvar
        </button>
      </div>
    </div>
  </div>
</div>
