.navbar{
  background-color: #f9a146;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.507);
  font-family: 'Permanent Marker';
  font-size: 18px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.nav-link:hover{
  font-size: 24px;
}
