.navbar{
  background-color: #dec055;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.507);
  font-family: 'Bebas Neue';
  padding: .5rem;
  margin-bottom: 2rem;
}

.nav-link:hover{
  font-size: 24px;
}

.logo{
  font-size: 2.5rem;
}
