<section>
  <h1 class="titulo">Mapeamento de casos de dengue em Blumenau</h1>

  <div class="row my-5">
    <div class="col-3">
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Bairros</th>
              <th scope="col">Casos</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let bairro of bairros$ | async">
              <td>{{ bairro.bairro }}</td>
              <td>{{ bairro.total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-8">
      <div class="container">
        <div class="d-flex justify-content-center">
          <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
          >
            <agm-marker
              *ngFor="let marker of markers"
              [latitude]="marker.lat"
              [longitude]="marker.lng"
            >
              <agm-circle
                [latitude]="marker.lat"
                [longitude]="marker.lng"
                [radius]="500"
                [fillColor]="'red'"
                [circleDraggable]="false"
                [editable]="false"
              >
              </agm-circle>
              <agm-info-window>
                <h6>Mapeamento:</h6>
                <p>Bairro com maior caso de dengue</p>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn mr-2" routerLink="/">Voltar</button>
      </div>
    </div>
  </div>
</section>
