<div class="tam"></div>
<footer>
  <div class="main-footer">
    <div class="up-footer">
      <h3>BugLess - Se você <span class="agir"> agir</span> podemos evitar!</h3>
    </div>
    <div class="down-footer">
      <img src="./assets/img/wpp.svg" alt="wpp" /><a
        href="https://web.whatsapp.com/"
        target="_blank"
        >(47) 9 9090-9090</a
      >
      <img src="./assets/img/github.png" alt="GitHub Logo" /><a
        href="https://github.com/more-devs-2-blu/bugless"
        target="_blank"
        >BugLess</a
      >
    </div>
  </div>
</footer>
