<div class="container">

    <h3 class="titulo">MENU</h3>

  <div class="card-main">
    <section class="card-paciente">
      <img src="./assets/img/doctor.svg" alt="Imagem silhueta médico" class="img-card" />
      <h3>Cadastrar caso</h3>
      <b>Cadastrar caso positivo de dengue em Blumenau.</b>
      <a routerLink="/cadastro"class="btn" >ACESSAR CADASTRO PACIENTE</a>
    </section>

    <section class="card-paciente">
      <img src="./assets/img/mapa-brasil.svg" alt="Mapa do brasil" class="img-card" />
      <h3>Mapeamento</h3>
      <b>Mapa de Blumenau com casos de dengue positivos </b>
      <a routerLink="/mapa" class="btn">ACESSAR MAPA</a>
    </section>
  </div>
</div>


