<div class="body-card container card-container">

    <h3 class="titulo">MENU</h3>

  <div class="card-main">
    <section class="card-paciente">
      <img src="./assets/img/doctor.svg" alt="Imagem silhueta médico" class="img-card" />
      <h3>Cadastrar Caso</h3>
      <b>Cadastrar caso posito de dengue em Blumenau.</b>
      <a routerLink="/cadastro">ACESSAR LISTA</a>
    </section>

    <section class="card-paciente">
      <img src="./assets/img/mapa-brasil.svg" alt="Mapa do brasil" class="img-card" />
      <h3>Mapeamento</h3>
      <b>Mapa de Blumenau com casos de dengue positivos </b>
      <a routerLink="/mapa">ACESSAR LISTA</a>
    </section>
  </div>
</div>


